@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
*{
  margin: 0;
  padding: 0;
}
.preloader{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;    
  justify-content: center;
  align-items: center;
  background-color:#e8e8e3;
  transition: opacity 0.5s ease;
 
 
}
.loading-finish{
  opacity: 0;
  pointer-events:none;
}


#clouds{
  animation: floatAnim 1s ease infinite alternate;
  /* transform-origin:top;
  transform-box: fill-box; */
}
@keyframes floatAnim {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(60px);
  }

}

#sclouds{
  animation: floatAnim1 2s ease infinite alternate;
  transform-origin:top;
}
@keyframes floatAnim1 {
  from {
    transform:translateY(0px);
  }

  to {
    transform:translateY(70px);
  }

}


li,a,button{
  font-family: var(--main-font);
  font-weight:500;
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;
}
.navbar{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  
}
.ul-links li{
  display: inline-block;
  padding: 0px 20px;
  justify-content: flex-end;
  animation: home-link 1s;
  
}
.ul-links li a {
 transition: all 0.3s ease 0s;
 text-decoration: none;
 color: black;
  
}
.ul-links li a:hover{
  color: orange;
   
 }
 .home-link li a:hover{
  color: orange;
  text-decoration: none;
  
   
 }
.home-link{
  margin-inline-end: auto;
  animation: home-link 1s;
 
 }

.home-link li a{
  margin-inline-end: auto;
  color: black;
 
 }
 .dropdown-links{
   margin-top: 10px;
   margin-right: 50px;
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   position: absolute;
   background-color: white;
   border: 1px solid #999966;
   padding: 10px;
  width: 180px;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
 
 }
.dropdown:hover{
  cursor: pointer;
  color: orange;
}


 .dropdown:hover .dropdown-links{
    cursor: pointer;
    color: orange;
    opacity: 1;
    pointer-events: all;
    
}
.mobile-bar{
   
  display: none;
  margin-right: 10px;
  cursor: pointer;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 1px solid black;
  padding-top: 23px;
  padding-left: 20px;
  animation: mobilebar 300ms;
 margin-bottom: 26px;

  

}
.mobile-bar div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
} 
@media screen and (max-width:768px){
  .ul-links{
   display: none;
    

  }
  .mobile-bar{
    display: block;
  }
  
} 

@media screen and (max-width:1082px){
 .dropdown{
   margin-right: 50px;
   }
  
}
.mobile-menu{
  opacity: 0;
  pointer-events: none;
}
.mobilelinks{
   background-color: black;
   height: 100%;
   width: 100%;
   position: fixed;
   color: azure;
   top: 0;
   left: 0px;
   z-index: 999;
   
}
.mobileView-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  animation: mobilemenuanim 300ms;
 
  

}
.mobileView-list li{
  
  margin: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: "TT Hoves", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
  var(--main-font);
  color: white;
  text-decoration: none;


  
}
.mobileView-list li a{

  color: white;
  text-decoration: none;

  
  
}


.menu-btn{
  width: 75px;
  height:75px;
  border:1px solid white;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 25px;
  border-radius: 50%;
  padding-top: 35px;
  padding-left: 15px;
  cursor: pointer;
  
 
}
.menu-btn div{
  height: 3px;
  width: 45px;
  background-color: white;
 
  
}
.c-1{
  transform: rotate(45deg);
  position:absolute;
  

}
.c-2{
   transform: rotate(-45deg);  
}
.mobilemenu-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  animation: mobile-icons 500ms;

}

.mobilemenu-icons li a{
     text-decoration: none;
     margin: 20px;
}
@keyframes  mobilemenuanim{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
  
}
@keyframes mobile-icons{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes home-link{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes mobilebar {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

.title-head{
  margin-top: 120px;
  margin-left: 100px;
 
  
}
@media screen and (max-width:1125px){
     .title-head{
       margin-left: 10px;
       margin-top: 60px;
     }
  }
.title-head1{
  margin-left: 100px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 120px;
  animation: mobile-icons 1s;
 

}
@media screen and (max-width:1125px){
  .title-head1{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 50px;
  }
}
.floating-linkedn{
  margin-left: 25px;
  margin-top: 90px;
  background-color: #e5f1f8;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
@media screen and  (min-width:770px) {
  .floating-linkedn:hover {
    width: 100px;
    height:100px;
  }
}

.floating-gmail{
  margin-left: 700px;
  top:140px;
  background-color: #fdebf1;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.floating-github{
  margin-left: 1000px;
  top:430px;
  background-color:white;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-icons{
  width: 100px;
}

#linkedin{
  animation: floatAnim 2s infinite alternate;
  transform-origin:center;
  transform-box: fill-box;
  animation-delay: 1.5s;
}
 #gmail{
  animation: floatAnim 2s infinite alternate;
    transform-origin:center;
  transform-box: fill-box;
  animation-delay:1s ;
} 
#github{
  animation: floatAnim 2s infinite alternate;
  transform-origin:center;
  transform-box: fill-box;
  animation-delay: 0.5s;
} 
@keyframes floatAnim {
  0% {
    transform:translateY(20px);
  }

  100% {
    transform:translateY(-20px);
  }

}
@media screen and (max-width:1125px){
   .floating-github {
      margin-left: 700px;
   }
   .floating-gmail{
     margin-left:500px ;
   }
}
@media screen and (max-width:869px){
  .floating-github {
     margin-left: 500px;
  }
  .floating-gmail{
    margin-left:350px ;
  }
}
@media screen and (max-width:768px){

  #github{
    animation: none
  }
  #linkedin{
    animation: none
  }
  #gmail{
    animation: none
  }
     .floating-gmail{
  
       position: relative;
       margin-left: 0px;
       top:0px;
      
     }
     .floating-linkedn{
      position: relative;
      margin-top: 0px;
      margin-right: 10px;
      
  }

 
    .floating-github{
  
      position: relative;
      margin-left: 0px;
      top:0px;
      margin-left: 10px;
      
      
     
    }
     .floating-icons{
       width: auto;
       margin-top: 10px;
      display: flex;
      align-items: center;
    
     }
}
.cursor{
  width: 40px;
  height: 40px;
  border: 1px solid orange;
  border-radius: 50%;
  position: fixed;
  left: 0;
  right: 0;
  pointer-events: none;
  transform: translate(-50%,-50%);
}
