@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body{
  height: 100vh;
}
*{
  margin: 0;
  padding: 0;
}
.preloader{
  position: fixed;
  padding: auto;
  width: 100%;
  height: 100vh;
  display: flex;    
  justify-content: center;
  align-items: center;
  background-color:#e8e8e3;
  transition: opacity 0.5s ease;
 
 
}
.loading-finish{
  opacity: 0;
  pointer-events:none;
}


#clouds{
  animation: floatAnim 1s ease infinite alternate;
  /* transform-origin:top;
  transform-box: fill-box; */
}
@keyframes floatAnim {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(60px);
  }

}

#sclouds{
  animation: floatAnim1 2s ease infinite alternate;
  transform-origin:top;
}
@keyframes floatAnim1 {
  from {
    transform:translateY(0px);
  }

  to {
    transform:translateY(70px);
  }

}


li,a,button{
  font-family: var(--main-font);
  font-weight:500;
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;
}
.navbar{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  
}
.ul-links li{
  display: inline-block;
  padding: 0px 20px;
  justify-content: flex-end;
  animation: home-link 1s;
  
}
.ul-links li a {
 transition: all 0.3s ease 0s;
 text-decoration: none;
 color: black;
  
}
.ul-links li a:hover{
  color: orange;
   
 }
 .home-link li a:hover{
  color: orange;
  text-decoration: none;
  
   
 }
.home-link{
  margin-inline-end: auto;
  animation: home-link 1s;
 
 }

.home-link li a{
  margin-inline-end: auto;
  color: black;
 
 }
 .dropdown-links{
   margin-top: 10px;
   margin-right: 50px;
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   position: absolute;
   background-color: white;
   border: 1px solid #999966;
   padding: 10px;
  width: 180px;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
 
 }
.dropdown:hover{
  cursor: pointer;
  color: orange;
}


 .dropdown:hover .dropdown-links{
    cursor: pointer;
    color: orange;
    opacity: 1;
    pointer-events: all;
    
}
.mobile-bar{
   
  display: none;
  margin-right: 10px;
  cursor: pointer;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 1px solid black;
  padding-top: 23px;
  padding-left: 20px;
  animation: mobilebar 300ms;
  margin-bottom: 26px;
}
.mobile-bar div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
} 
@media screen and (max-width:768px){
  .ul-links{
   display: none;
    

  }
  .mobile-bar{
    display: block;
  }
  
} 

@media screen and (max-width:1082px){
 .dropdown{
   margin-right: 50px;
   }
  
}
.mobile-menu{
  opacity: 0;
  /* pointer-events: none; */
}
.mobilelinks{
   background-color: black;
   height: 100%;
   width: 100%;
   position: fixed;
   color: azure;
   top: 0;
   left: 0px;
   z-index: 999;
   
}
.mobileView-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  animation: mobilemenuanim 300ms;
}
@media  (max-width:415px) and (min-width:320px) {
  .mobileView-list{
    margin-top: 30%;
  }
}
@media  (max-width:768px) and (min-width:765px) {
  .mobileView-list{
    margin-top: 30%;
  }
}
.mobileView-list li{
  
  margin: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: "TT Hoves", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
  var(--main-font);
  color: white;
  text-decoration: none;


  
}
.mobileView-list li a{

  color: white;
  text-decoration: none;

  
  
}


.menu-btn{
  width: 75px;
  height:75px;
  border:1px solid white;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 25px;
  border-radius: 50%;
  padding-top: 35px;
  padding-left: 15px;
  cursor: pointer;
  
 
}
.menu-btn div{
  height: 3px;
  width: 45px;
  background-color: white;
 
  
}
.c-1{
  transform: rotate(45deg);
  position:absolute;
  

}
.c-2{
   transform: rotate(-45deg);  
}
.mobilemenu-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  animation: mobile-icons 500ms;

}

.mobilemenu-icons li a{
     text-decoration: none;
     margin: 20px;
}
@keyframes  mobilemenuanim{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
  
}
@keyframes mobile-icons{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes home-link{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes mobilebar {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

.title-head{
  margin-top: 120px;
  margin-left: 100px;
 
  
}
@media screen and (max-width:1125px){
     .title-head{
       margin-left: 10px;
       margin-top: 60px;
     }
  }
.title-head1{
  margin-left: 100px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 120px;
  animation: mobile-icons 1s;
 

}
@media screen and (max-width:1125px){
  .title-head1{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 50px;
  }
}
.floating-linkedn{
  margin-left: 25px;
  margin-top: 90px;
  background-color: #e5f1f8;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
@media screen and  (min-width:770px) {
  .floating-linkedn:hover {
    
    height: 100px;
    width: 100px; 
    overflow: hidden;
    position:static;
  
  }
  .floating-gmail:hover {
    height: 100px;
    width: 100px; 
  }
  .floating-github:hover {
    
    height: 100px;
    width: 100px; 
  }
}

.floating-gmail{
  margin-left: 700px;
  top:140px;
  background-color: #fdebf1;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.floating-github{
  margin-left: 1000px;
  top:430px;
  background-color:#ebebe6;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-icons{
  width: 100px;
  
}


#linkedin{
  animation: floatAnim 2s infinite alternate;
  transform-origin:center;
  transform-box: fill-box;
  animation-delay: 1.5s;
}
 #gmail{
  animation: floatAnim 2s infinite alternate;
    transform-origin:center;
  transform-box: fill-box;
  animation-delay:1s ;
} 
#github{
  animation: floatAnim 2s infinite alternate;
  transform-origin:center;
  transform-box: fill-box;
  animation-delay: 0.5s;
} 
@keyframes floatAnim {
  0% {
    transform:translateY(20px);
  }

  100% {
    transform:translateY(-20px);
  }

}
@media screen and (max-width:1125px){
   .floating-github {
      margin-left: 700px;
   }
   .floating-gmail{
     margin-left:500px ;
   }
}
@media screen and (max-width:869px){
  .floating-github {
     margin-left: 500px;
  }
  .floating-gmail{
    margin-left:350px ;
  }
}
@media screen and (max-width:768px){

  #github{
    animation: none
  }
  #linkedin{
    animation: none
  }
  #gmail{
    animation: none
  }
     .floating-gmail{
  
       position: relative;
       margin-left: 0px;
       top:0px;
      
     }
     .floating-linkedn{
      position: relative;
      margin-top: 0px;
      /* margin-right: 10px; */
      
  }

 
    .floating-github{
  
      position: relative;
      margin-left: 0px;
      top:0px;
      /* margin-left: 10px; */
      
      
     
    }
     .floating-icons{
       width: auto;
       margin-top: 25px;
       margin-right: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
    
     }
}

.profile-pics{
  display: flex;
  justify-content: space-between;
}
#pic-2{
  margin-top: 160px;
}
#pic-3{
  margin-left: 90px;
}
.about-circle{
  background-color: black;
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.content{
  margin-top: 180px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  

}
a.about-circle{
  margin: auto;
  text-align: center;
  padding-top: 40px;
  color: white;
  text-decoration: none;
}
a.about-circle:hover{
  color: rgb(255, 174, 0);
  transform: rotate(-25deg);
  transition: all 1s;
}
.content p{
  font-size: 30px;
  letter-spacing: -.5px;
  line-height: 1.28;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: sans-serif;

}



@media screen and (max-width:1099px){
    #pic-2{
      z-index: -1;
      position: absolute;
      right: 0;
      opacity: 0.3;

    }
    #pic-3{
      z-index: -1;
      left: 0;
      position: absolute;
      opacity: 0.3;
     
    }
    #pic-1{
      left: 0;
      z-index: -1;
      position: absolute;
      opacity: 0.3;
    }
    .content{
      margin-top: 150px;
    }
    .profile-pics img{
      width: 120px;
      height: 120px;
     
      
    }

    #pic-3{
      width: 120px;
      height: 120px;
      
    }
     

}

.project{
  margin-top: 150px;
  background-color: #f7f8fb;
  font-family: sans-serif;

}
.project-title{
   padding-top:120px ;
   font-size: 70px;
   letter-spacing: -2px;
   font-family: 'Poppins', sans-serif; 
}
.work-1-content{
   display: flex;
   margin-top: 45px;
   justify-content: space-between;
   width: 100%;
   height: auto;
}

.pro-title{
  font-size: 40px;
  color: black;
  font-family: 'Poppins',sans-serif;
  
}
.pro-type{
  color: grey;
  font-family: 'Poppins',sans-serif;
}
.arrow{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: white;
}
.pro-link:hover .arrow{

  background-color: orange;
  transform: rotate(-40deg);
  transition: all 0.5s;

}

@media screen and (max-width:540px){

.work-1 img{
   width: 100%;
   height: 100%;
}
.work-1-content{

  height:auto;
  width: 100%;
}
.arrow{
  height: 40px;
  width: 40px;
  border-radius: 50%;

}
.pro-title{
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}
.project-title{
  font-size: 50px;
}
}
@media screen and (min-width:1024px){
  .work-1 img{
    width: 100%;
    height: 100%;
 }
 .work-1-content{

  height:auto;
  width: 100%;
}
}
@media screen and (max-width:768px){
   .work-1 img{
     width: 100%;
     height: 100%;
      
   }
   .work-1-content{
     height: auto;
     width: 100%;
   }
}

.fotter-box{
  width: 100%;
  height: 90vh;
  background-color:#f7f8fb;
 
}
.fotter{
  display: flex;
  justify-content: space-between;
  padding-top: 120px;

}
.fotter h1{
  font-size: 60px;
  font-family: 'Noto Sans JP', sans-serif;


}
.email-box{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: black;
  color: white;
  align-items: center;
  padding-top: 60px;
  padding-left: 15px;
}
a.email-text:hover{
color: orange;
transform: rotate(-25deg);
transition: all 1s;
}
.f-text{
  margin-top: 50px;
  
}
@media screen and (max-width: 600px){
  .fotter{
      flex-direction: column;
      justify-content: center;
  }
  .email-box{
      margin-top: 35px;
  }
}

@media screen and (min-width: 768px){
  .f-box{
      padding-bottom: 50px;
      padding-top: 463px;
      /* font-size: 30px; */
      
  }
  .fotter{
      padding-top: 300px;
  }
}





@media screen and (max-width:320px){

  .fotter-box{
    height: 100vh;
    bottom: 0px;
  } 
}

@media  (max-width:414px) and (min-width:411px) {
  .ftext{
    margin-top: 112px;
  }
}
@media  (max-width:1000px) and (min-width:768px) {
  .ftext{
    margin-top: 280px;
  }

}
@media  (max-width:1024px) and (min-width:1020px) {
 .fotter-box{
   height:65vh;
 }
 .ftext{
  margin-top: 280px;
}

}
@media  (max-width:375px) and (min-width:374px) {
  .ftext{
   margin-top: 50px;
 }
 
 }
 @media  (max-width:2000px) and (min-width:1030px) {
  
  .fotter{
    padding-top: 150px;
  }
  .ftext{
    margin-top: 157px;
  }
 
 }
 @media  (max-width:395px) and (min-width:374px) {
  .ftext{
   margin-top: 80px; 
 }
 }